In [139]:
import pandas as pd

In [140]:
import os
import sys
os.getcwd()

'/Users/apple/Documents/gatech/cj/hello-workbench'

In [144]:
import csv

results = []
with open('/Users/apple/Documents/gatech/cj/hello-workbench/data/usa_fips.csv') as csvfile:
    reader = csv.reader(csvfile, quoting=csv.QUOTE_ALL) # change contents to floats
    for row in reader: # each row is a list
        results.append(row)

In [150]:
with open('/Users/apple/Documents/gatech/cj/hello-workbench/data/buf.txt', 'w') as f:
    for i in results:
        f.write("%s,\n" % i)

In [153]:
pd.DataFrame([['achyut','joshi','pa','thak'],['2','3','6','9'],['2','3','6','9']], columns = ['33','333','3333','0'])

       33    333 3333     0
0  achyut  joshi   pa  thak
1       2      3    6     9
2       2      3    6     9

In [51]:
clean_file = pd.read_csv('/Users/apple/Documents/gatech/cj/hello-workbench/data/usa_fips.csv')

In [30]:
import string

def clean_string(in_string):
    table = str.maketrans('', '', string.punctuation)
    clean_string = in_string.translate(table)
    clean_string = ''.join([i for i in clean_string if not i.isdigit()])
    clean_string = clean_string.strip() #remove leading and trailing spaces
    return(clean_string)

In [57]:
fuzz.ratio('Jakson','jakson')

83

In [3]:
fuzz.ratio("California", "CA")

17

In [2]:
fuzz.ratio("YANKEES", "NEW YOR") 
fuzz.ratio("YANKEES", "EW YORK") 
fuzz.ratio("YANKEES", "W YORK ") 
fuzz.ratio("YANKEES", " YORK Y") 
fuzz.ratio("YANKEES", "YANKEES")

SyntaxError: invalid character in identifier (<ipython-input-2-dbde4dfcb725>, line 1)

In [1]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

choices = ["Atlanta Falcons", "New York Jets", "New York Giants", "Dallas Cowboys"]
process.extract("new york jets", choices, limit=2)

/Users/apple/miniconda3/envs/py36/lib/python3.6/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

[('New York Jets', 100), ('New York Giants', 79)]

In [52]:
clean_file

      statefp           state_name  countyfp                 county_name
0           1              Alabama         1              Autauga County
1           1              Alabama         3              Baldwin County
2           1              Alabama         5              Barbour County
3           1              Alabama         7                 Bibb County
4           1              Alabama         9               Blount County
5           1              Alabama        11              Bullock County
6           1              Alabama        13               Butler County
7           1              Alabama        15              Calhoun County
8           1              Alabama        17             Chambers County
9           1              Alabama        19             Cherokee County
10          1              Alabama        21              Chilton County
11          1              Alabama        23              Choctaw County
12          1              Alabama        25               Clarke County
13          1              Alabama        27                 Clay County
14          1              Alabama        29             Cleburne County
15          1              Alabama        31               Coffee County
16          1              Alabama        33              Colbert County
17          1              Alabama        35              Conecuh County
18          1              Alabama        37                Coosa County
19          1              Alabama        39            Covington County
20          1              Alabama        41             Crenshaw County
21          1              Alabama        43              Cullman County
22          1              Alabama        45                 Dale County
23          1              Alabama        47               Dallas County
24          1              Alabama        49               DeKalb County
25          1              Alabama        51               Elmore County
26          1              Alabama        53             Escambia County
27          1              Alabama        55               Etowah County
28          1              Alabama        57              Fayette County
29          1              Alabama        59             Franklin County
...       ...                  ...       ...                         ...
3213       72          Puerto Rico       101           Morovis Municipio
3214       72          Puerto Rico       103           Naguabo Municipio
3215       72          Puerto Rico       105         Naranjito Municipio
3216       72          Puerto Rico       107          Orocovis Municipio
3217       72          Puerto Rico       109          Patillas Municipio
3218       72          Puerto Rico       111          PeÃ±uelas Municipio
3219       72          Puerto Rico       113             Ponce Municipio
3220       72          Puerto Rico       115      Quebradillas Municipio
3221       72          Puerto Rico       117            Rincon Municipio
3222       72          Puerto Rico       119        RÃ­o Grande Municipio
3223       72          Puerto Rico       121     Sabana Grande Municipio
3224       72          Puerto Rico       123           Salinas Municipio
3225       72          Puerto Rico       125        San GermÃ¡n Municipio
3226       72          Puerto Rico       127          San Juan Municipio
3227       72          Puerto Rico       129       San Lorenzo Municipio
3228       72          Puerto Rico       131     San SebastiÃ¡n Municipio
3229       72          Puerto Rico       133      Santa Isabel Municipio
3230       72          Puerto Rico       135          Toa Alta Municipio
3231       72          Puerto Rico       137          Toa Baja Municipio
3232       72          Puerto Rico       139     Trujillo Alto Municipio
3233       72          Puerto Rico       141            Utuado Municipio
3234       72          Puerto Rico       143         Vega Alta Municipio
3235       72          Puerto Rico       145         Vega Baja Municipio
3236       72          Puerto Rico       147           Vieques Municipio
3237       72          Puerto Rico       149          Villalba Municipio
3238       72          Puerto Rico       151           Yabucoa Municipio
3239       72          Puerto Rico       153             Yauco Municipio
3240       78  U.S. Virgin Islands        10   St. Croix Island District
3241       78  U.S. Virgin Islands        20    St. John Island District
3242       78  U.S. Virgin Islands        30  St. Thomas Island District

[3243 rows x 4 columns]

In [67]:
dummy_df.merge(clean_file.loc[:,['statefp','state_name']].drop_duplicates(['statefp','state_name']), left_on='name', right_on='state_name', how='left')['statefp']

0    24
1    13
2     6
Name: statefp, dtype: int64

In [49]:
dummy_df['name'].apply(lambda x : x)

         name
0    Maryland
1     Georgia
2  California

In [70]:
list(choices)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'American Samoa',
 'Guam',
 'Northern Mariana Islands',
 'Puerto Rico',
 'U.S. Virgin Islands']

In [74]:
dummy_df

         name
0    Maryland
1     Georgia
2  California

In [103]:
a = ['Ac','Hu','PO']
a

AttributeError: 'list' object has no attribute 'lower'

In [112]:
choices = list(clean_file.state_name.unique())
def fmatch(row,minscore):  
    match_choice = [x.lower() for x in choices]
    answer = process.extract(str(row).lower(),match_choice,limit = 1)
    print(answer)
    choice,score = answer[0]
    index = match_choice.index(choice)
    return choices[index] if score >= minscore else None

dummy_df.apply(lambda x : fmatch(x['name'],100),axis=1)

[('maryland', 79)]
[('georgia', 100)]
[('california', 100)]

0          None
1       Georgia
2    California
dtype: object

In [ ]:
merged = pd.merge(df1, 
                  df2,
                  left_on='df2_name',
                  right_on='name',
                  suffixes=['_df1','_df2'],
                  how = 'outer') # assuming you want to keep unmatched records

In [115]:
dummy_df

              name      name2
0  maaryland state  baltimore
1          Georgia     brooks
2       California     achyut
3         colarado    jackson
4          florida    jackson

In [ ]:
dummy_df[dummy_df.st]

In [123]:
list(clean_file.loc[clean_file.state_name == 'Maryland'].county_name.unique())

['Allegany County',
 'Anne Arundel County',
 'Baltimore County',
 'Calvert County',
 'Caroline County',
 'Carroll County',
 'Cecil County',
 'Charles County',
 'Dorchester County',
 'Frederick County',
 'Garrett County',
 'Harford County',
 'Howard County',
 'Kent County',
 'Montgomery County',
 "Prince George's County",
 "Queen Anne's County",
 "St. Mary's County",
 'Somerset County',
 'Talbot County',
 'Washington County',
 'Wicomico County',
 'Worcester County',
 'Baltimore city']

In [114]:

dummy_df = pd.DataFrame({'name' : ['maaryland state','Georgia','California','colarado','florida'],'name2' : ['baltimore','brooks','achyut','jackson','jackson']})

In [138]:
dummy_df

              name      name2 state_name_fips  county_name_fips
0  maaryland state  baltimore        Maryland  Baltimore County
1          Georgia     brooks         Georgia     Brooks County
2       California     achyut      California              None
3         colarado    jackson        Colorado    Jackson County
4          florida    jackson         Florida    Jackson County

In [125]:
def fmatch(row,minscore,choices):
    match_choice = [x.lower() for x in choices]
    answer = process.extract(str(row).lower(),match_choice,limit = 1)
    print(answer)
    choice,score = answer[0]
    index = match_choice.index(choice)
    return choices[index] if score >= minscore else None

In [131]:
state_choices = list(clean_file.state_name.unique())
dummy_df['state_name_fips'] = dummy_df.apply(lambda x : fmatch(x['name'],70, state_choices),axis=1)

[('maryland', 79)]
[('georgia', 100)]
[('california', 100)]
[('colorado', 88)]
[('florida', 100)]

In [137]:
dummy_df['county_name_fips'] = dummy_df.apply(lambda x : fmatch(x['name2'],80, list(clean_file.loc[clean_file.state_name == x['state_name_fips']].county_name.unique())),axis=1)

[('baltimore county', 90)]
[('brooks county', 90)]
[('alameda county', 45)]
[('jackson county', 90)]
[('jackson county', 90)]

In [5]:
def load_usafips(data_path):
    return(parse_file(data_path, True)

def fuzzymatch(row,minscore):  
    answer = process.extract(str(row).lower(),choices,limit = 1)
    print(answer)
    choice,score = answer[0]
    return choice if score > minscore else None
           
           
def render(table, params):
    state_column = params['state']
    county_column = params['county']
    fuzz_boolean = params['fuzzy']
    fuzz_tolerance = params['tolerance']
    addfips_boolean = params['addfips']
    
    
    # If no column is selected, do nothing. By convention, Workbench modules
    # should output their input until enough parameters are supplied.
    if not state_column:
        return table
    
    df_fips = load_usafips()
    #cleaning only state
    if not county_column:
        if fuzz_boolean:
           choices = list(clean_file.state_name.str.lower().unique())
           table['state_name_fips'] = dummy_df.apply(lambda x : fmatch(x['name'],fuzz_tolerance),axis=1)
           
           if addfips_boolean:
               table['state_code_fips'] = table.merge(df_fips.loc[:,['statefp','state_name']].drop_duplicates(['statefp','state_name']), left_on='state_name_fips', right_on='state_name', how='left')['statefp'] 
 
        else:
           table['state_code_fips'] = table.merge(df_fips.loc[:,['statefp','state_name']].drop_duplicates(['statefp','state_name']), left_on='name', right_on='state_name', how='left')['statefp']
        
    #cleaning county and state
    else:
        if fuzz_boolean:
            
        else:
        
        
    # Don't worry about table[colname] not existing. Workbench guarantees it
    # exists.

    # If the column is not a number, return an error message
    # see https://github.com/CJWorkbench/cjworkbench/wiki/Column-Types
    if input_columns[colname].type != 'number':
        return "Please select a Number column"

    # Modules may alter their input in place, if desired
    table[colname] *= factor
    return table

0                   Autauga County
1                   Baldwin County
2                   Barbour County
3                      Bibb County
4                    Blount County
5                   Bullock County
6                    Butler County
7                   Calhoun County
8                  Chambers County
9                  Cherokee County
10                  Chilton County
11                  Choctaw County
12                   Clarke County
13                     Clay County
14                 Cleburne County
15                   Coffee County
16                  Colbert County
17                  Conecuh County
18                    Coosa County
19                Covington County
20                 Crenshaw County
21                  Cullman County
22                     Dale County
23                   Dallas County
24                   DeKalb County
25                   Elmore County
26                 Escambia County
27                   Etowah County
28                  Fayette County
29                 Franklin County
                   ...
3214             Naguabo Municipio
3215           Naranjito Municipio
3216            Orocovis Municipio
3217            Patillas Municipio
3218            PeÃ±uelas Municipio
3219               Ponce Municipio
3220        Quebradillas Municipio
3221              Rincon Municipio
3222          RÃ­o Grande Municipio
3223       Sabana Grande Municipio
3224             Salinas Municipio
3225          San GermÃ¡n Municipio
3226            San Juan Municipio
3227         San Lorenzo Municipio
3228       San SebastiÃ¡n Municipio
3229        Santa Isabel Municipio
3230            Toa Alta Municipio
3231            Toa Baja Municipio
3232       Trujillo Alto Municipio
3233              Utuado Municipio
3234           Vega Alta Municipio
3235           Vega Baja Municipio
3236             Vieques Municipio
3237            Villalba Municipio
3238             Yabucoa Municipio
3239               Yauco Municipio
3240       Midway Islands District
3241     St. Croix Island District
3242      St. John Island District
3243    St. Thomas Island District
Name: name, Length: 3244, dtype: object

In [ ]:
choices = ["California", "Maryland", "Florida"]